<%= render 'shared/sidenav' %>

<div class="main-content">
  <div class="transactions-container">
    <div class="transactions-section">
      <h2>Items for Sale <span class="box-counter"><%= @items_for_sale.count %></span></h2>
      <% if @items_for_sale.any? %>
        <table class="transaction-table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Card</th>
              <th>Condition</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @items_for_sale.each do |item| %>
              <tr>
                <td>
                  <%= link_to card_path(item.card) do %>
                    <img src="<%= item.card.image_url %>" alt="Card image">
                  <% end %>
                </td>
                <td>
                  <span class="transaction-card-name">
                    <%= link_to item.card.name, card_path(item.card), class: "text-link" %><br>
                  </span>
                  <span><strong>Rarity:</strong> <%= item.card.rarity %></span>
                </td>
                <td><%= item.condition %></td>
                <td><strong><%= number_to_currency(item.price, unit: "£") %></strong></td>
                <td>
                  <%= link_to 'Delete', listing_path(item),
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                      class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No items for sale.</p>
      <% end %>
    </div>
  </div>
</div>
