<div class="transactions-container">
  <div class="transaction-section">
    <h2>My Purchases <span class="purchase-count"><%= @bought_sales.count %></span></h2>
    <% @bought_sales.each do |sale| %>
      <div class="transaction-box">
        <img src="<%= sale.listing.card.image_url %>" alt="Card image" class="transaction-card-image">
        <div class="transaction-details">
          <div class="name-and-condition">
            <span class="transaction-card-name"><%= sale.listing.card.name %></span>
            <span class="transaction-condition">Condition: <%= sale.listing.condition %></span>
          </div>
          <div class="rarity-box">
            <strong>Rarity:</strong> <%= sale.listing.card.rarity %>
          </div>
          <div class="user-info">
            <p>Bought from <span><%= sale.listing.user.username %></span></p>
          </div>
        </div>
        <div class="transaction-metadata">
          <div class="transaction-date-box"><%= sale.created_at.strftime('%b %d') %></div>
          <p class="transaction-price"><strong>£<%= sale.listing.price %></strong></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="transaction-section">
    <h2>My Sales
    <span class="sales-count for-sale" id="sales-count-for-sale"><%= @my_listings.select {|listing| !listing.sale.present? }.count %> For Sale</span>
    <span class="sales-count sold" id="sales-count-sold"><%= @my_listings.select {|listing| listing.sale.present? }.count %> Sold</span>
    </h2>
    <% @my_listings.each do |listing| %>
    <div id="listing_<%= listing.id %>">
      <div class="transaction-box">
        <img src="<%= listing.card.image_url %>" alt="Card image" class="transaction-card-image">
        <div class="transaction-details">
          <div class="name-and-condition">
            <span class="transaction-card-name"><%= listing.card.name %></span>
            <span class="transaction-condition">Condition: <%= listing.condition %></span>
          </div>
          <div class="rarity-box">
            <strong>Rarity:</strong> <%= listing.card.rarity %>
          </div>
          <% if listing.sale.present? %>
            <div class="user-info">
              <p>Sold to <span><%= listing.sale.user.username %></span> on <%= listing.sale.created_at.strftime('%b %d') %></p>
            </div>
          <% else %>
            <div class="for-sale">
              <%= link_to 'Delete', listing_path(listing.id),
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                  class: 'delete-button' %>
            </div>
          <% end %>
        </div>
        <div class="transaction-metadata">
          <% if listing.sale.present? %>
            <div class="sale-status sold">SOLD</div>
          <% else %>
            <div class="sale-status for-sale">FOR SALE</div>
          <% end %>
          <p class="transaction-price"><strong>£<%= listing.price %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
