<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
        <%= image_tag("Banner-1.jpg", class: "d-block w-100", alt: "...") %>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag("Banner-2.jpg", class: "d-block w-100", alt: "...") %>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag("Banner-3.jpg", class: "d-block w-100", alt: "...") %>
    </div>
  </div>
  <div class="carousel-caption d-none d-md-block">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Search for your first card</h1>
        <%= form_tag(cards_path, method: "get") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control search-input", placeholder: "" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var placeholderText = ['W', 'h', 'o', "'", 's', ' ', 't', 'h', 'a', 't', ' ', 'P', 'o', 'k', 'e', 'm', 'o', 'n', '?', ' ', '🔍'];
  var input = document.getElementById('search');

  function typePlaceholder(i = 0) {
    if (i < placeholderText.length) {
      input.setAttribute('placeholder', input.getAttribute('placeholder') + placeholderText[i]);
      setTimeout(function() { typePlaceholder(i + 1); }, 100); // adjust the speed of typing here
    }
  }

  // Only run the typing animation if the placeholder is empty
  if (!input.getAttribute('placeholder')) {
    typePlaceholder();
  }
</script>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-4">Best Seller</h2>
      <div class="row">
        <% @best_sellers.first(3).each do |card| %>
          <div class="col-md-4 each-card">
              <%= link_to card_path(card), class: 'card' do %>
                <%= image_tag(card.image_url, alt: "Description", class: "img-fluid") %>
              <% end %>
          <div class="card-grid__content" style="display: flex; justify-content: space-between; align-items: flex-start;">
            <div style="flex-grow: 1;">
              <div class="card-grid__title" style="font-size: 16px;">
                <%= card.name %>
              </div>
              <div class="card-grid__rarity" style="font-size: 12px; margin-top: -5px;">
                <%= card.rarity %>
              </div>
            </div>
            <div class="card-grid__price" style="font-weight: bold; font-size: 16px;">
              <%= number_to_currency(card.price, unit: "£") %>
              <div style="text-align: right; font-size: 12px;">&rarr;</div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <ul class="list-group" style="margin-top: 20px;">
        <% @best_sellers.drop(3).each do |card| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to card.name, card_path(card) %>
            <span class="badge bg-primary rounded-pill"><%= number_to_currency(card.price, unit: "£") %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6">
      <h2 class="mb-4">Best Bargains</h2>
      <div class="row">
        <% @best_bargains.first(3).each do |card| %>
          <div class="col-md-4 each-card">
              <%= link_to card_path(card), class: 'card' do %>
                <%= image_tag(card.image_url, alt: "Description", class: "img-fluid") %>
              <% end %>
          <div class="card-grid__content" style="display: flex; justify-content: space-between; align-items: flex-start;">
            <div style="flex-grow: 1;">
              <div class="card-grid__title" style="font-size: 16px;">
                <%= card.name %>
              </div>
              <div class="card-grid__rarity" style="font-size: 12px; margin-top: -5px;">
                <%= card.rarity %>
              </div>
            </div>
            <div class="card-grid__price" style="font-weight: bold; font-size: 16px;">
              <%= number_to_currency(card.price, unit: "£") %>
              <div style="text-align: right; font-size: 12px;">&rarr;</div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <ul class="list-group" style="margin-top: 20px;">
        <% @best_bargains.drop(3).each do |card| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to card.name, card_path(card) %>
            <span class="badge bg-primary rounded-pill"><%= number_to_currency(card.price, unit: "£") %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
