<%= form_tag(cards_path, method: "get") do %>
  <div class="form-group">
    <%= label_tag :search, "Search by name:" %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter..." %>
  </div>

  <div class="form-group">
    <%= label_tag :rarity, "Rarity:" %>
    <%= select_tag :rarity, options_for_select(@rarities.unshift("All"), params[:rarity]), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :min_price, "Min Price:" %>
    <%= text_field_tag :min_price, params[:min_price], class: "form-control", placeholder: "Enter..." %>
  </div>

  <div class="form-group">
    <%= label_tag :max_price, "Max Price:" %>
    <%= text_field_tag :max_price, params[:max_price], class: "form-control", placeholder: "Enter..." %>
  </div>
<br>
  <div class="form-group">
      <%= submit_tag "Filter", class: "btn btn-dark" %>
      <span class="clear-filter">Clear</span>
    </div>
<% end %>
