<div class="page-container">
  <%= link_to '&larr; Back'.html_safe, cards_path, class: 'back-button' %>

  <div class="content-container">
    <div class="card-details-container">
      <div class="card-image">
        <%= image_tag(@card.image_url, alt: @card.name, class: "img-fluid") %>
      </div>

      <div class="card-info">
        <h1><%= @card.name %></h1>
        <div class="rarity-box">
          <strong>Rarity:</strong> <%= @card.rarity %>
        </div>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        <div class="card-price">
          Trending Price:<br>
          <h3><strong><%= number_to_currency(@card.price, unit: "£") %></strong></h3><small>Based on Mint Condition</small><br>
        </div>
        <br>
        <div class="action-buttons">
          <%= link_to '+ Add Card for Sale', new_card_listing_path(@card), class: "btn btn-dark" %>
        </div>
      </div>
    </div>

    <div class="listings-panel">
      <h6><span class="live-indicator"></span><%= @unsold_listings.count %> For Sale</h6>
      <% if @unsold_listings.empty? %>
        <div class="none-for-sale">Oh Arceus!</div>
      <% else %>
        <% @unsold_listings.each do |listing| %>
          <div class="listing-row">
            <div class="listing-details">
              <div><%= listing.condition %></div>
              <div><strong><%= number_to_currency(listing.price, unit: "£") %></strong></div>
              <span><span class="username">@<%= listing.user.username %></span> listed <%= rand(1..20) %> days ago</span>
            </div>
            <div class="buy-button">
              <%= link_to 'Buy', card_listing_path(@card, listing), class: "btn btn-dark" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


  <br><br><br><br>
  <div class="container">
    <h3>More Like This</h3>
    <% @cards.each_slice(6) do |card_group| %>
      <div class="row">
        <% card_group.each do |card| %>
          <div class="col-md-2 card-grid" style="padding: 15px;">
            <%= link_to card_path(card), class: 'card' do %>
              <%= image_tag(card.image_url, alt: "Description", class: "img-fluid") %>
            <% end %>
            <div class="card-grid__content" style="display: flex; justify-content: space-between; align-items: flex-start;">
              <div style="flex-grow: 1;">
                <div class="card-grid__title" style="font-size: 16px;">
                  <%= card.name %>
                </div>
                <div class="card-grid__rarity" style="font-size: 12px; margin-top: -5px;">
                  <%= card.rarity %>
                </div>
              </div>
              <div class="card-grid__price" style="font-weight: bold; font-size: 16px;">
                <%= number_to_currency(card.price, unit: "£") %>
                <div style="text-align: right; font-size: 12px;">&rarr;</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
